[rendering]
;CZECHIA
X_MIN=12.0905
X_MAX=18.8591
Y_MIN=48.5525
Y_MAX=51.0557
map=plain_czechia.png

[rainfields]
min_value=0.1

[realtime]
retention=336

[viewer]
animation_speed=1000

[mariadb]
address=127.0.0.1
port=3306
user=root
pass=root
timeout=1000
db_metadata=cmls_db
db_output=output_db

[influx2]
url=http://127.0.0.1:8086
org=influx_org
token=influx_token
timeout=1000
verify_ssl=False

bucket_old_data=cmls_old
old_data_type=default
bucket_new_data=cmls_new
new_data_type=default
old_new_data_border=2023-12-31T12:00:00Z
bucket_out_cml=output_bucket

[external_filter]
url=http://127.0.0.1/img_data/
radius=20
pixel_threshold=5
default_return=True
IMG_X_MIN=11.28
IMG_X_MAX=20.765
IMG_Y_MIN=48.05
IMG_Y_MAX=52.165
